<div class="content_width login_content">
    <legend class="app_titles">Add Your Event Here</legend>
    <div class="content_padding">
    <div class="map">
        <div ng-model="geolloc"></div>
        <div id="map-canvas"></div>
    </div>
    <form ng-submit="form.$valid && saveEvent()" class="event_form_margin form-horizontal" ng-show="!success" name="form" role="form" novalidate>
        <div class="alert alert-danger" data-ng-show="event_authenticationError">
            <strong>Add Your Event Here</strong> Please check your event fields and add again.
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Event Name</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" name="event_name"
                       ng-model="event_name" placeholder="Event Name" required>
            </div>
            <div ng-show="form.event_name.$dirty && form.event_name.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.event_name.$dirty && form.event_name.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block"
                   ng-show="form.event_name.$error.required">
                    Event Name is required.
                </p>
            </div>
        </div>
        <div class="form-group row" style="background: #eee;padding: 15px 0;">
            <label class="col-md-4 col-sm-12 col-xs-12">Search Place</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" name="address"
                       ng-model="address" placeholder="Search Place" required>
            </div>
            <div ng-show="form.address.$dirty && form.address.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.address.$dirty && form.address.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block" style="height: 30px;"
                   ng-show="form.address.$error.required">
                    Search Place is required.
                </p>
            </div>
            <label class="col-md-4 col-sm-12 col-xs-12"></label>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <button ng-click="showAddress()" ng-disabled="form.address.$invalid" class="btn btn-primary col-md-12 col-sm-12 col-xs-12">Search Address</button>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Event Latitude</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" name="event_latitude"
                       ng-model="event_latitude" placeholder="Latitude coordinate between -90.0 and 90.0" readonly required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Event Longitude</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" name="event_longitude"
                       ng-model="event_longitude" placeholder="Longitude coordinate between -180.0 and 180.0" readonly required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Event Venue Name</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" name="event_v_name" placeholder="Event Venue"
                       ng-model="event_v_name"
                       ng-pattern="/^[A-Za-z0-9|\d|@|&|'|\*|\-|'*| *]*$/" required>
            </div>
            <div ng-show="form.event_v_name.$dirty && form.event_v_name.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.event_v_name.$dirty && form.event_v_name.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block"
                   ng-show="form.event_v_name.$error.required">
                    Your Event Venue Name is required.
                </p>
                <p class="help-block"
                   ng-show="form.event_v_name.$error.pattern">
                    Your Event Venue Name can only contain letters and digits.
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Event Date</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" id="event_date" name="event_date" ng-model="selectedDate" placeholder="Event Date"
                       data-date-format="dd/MM/yyyy" required bs-datepicker>
            </div>

            <div ng-show="form.event_date.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.event_date.$dirty && form.event_date.$error.required" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block">
                    Event Date is required.
                </p>
            </div>
            <div ng-show="!form.event_date.$error.required && form.event_date.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block">
                    Incorrect Format, should be MM/DD/YYYY.
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Event Time</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" id="event_time" name="event_time" size="8" ng-model="time" data-time-format="h:mm a" placeholder="Event Time" bs-timepicker required>
            </div>

            <div ng-show="form.event_time.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.event_time.$dirty && form.event_time.$error.required" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block">
                    Event Time is required.
                </p>
            </div>
            <div ng-show="!form.event_time.$error.required && form.event_time.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block">
                    Incorrect Format, should be HH:MM AM/PM.
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Invited Attendees</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" name="event_ia" placeholder="Invited Attendees"
                       ng-model="event_ia">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12"></label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <button class="btn btn-primary col-md-12 col-sm-12 col-xs-12" ng-disabled="form.$invalid">Create Event</button>
            </div>
        </div>
    </form>
    </div>
</div>