<div class="content_width login_content" xmlns="http://www.w3.org/1999/html">
    <legend class="app_titles">Events</legend>
    <div class="content_padding">
        <div class="map">
            <div ng-model="geolloc"></div>
            <div id="map-canvas"></div>
        </div>
        <form ng-submit="form.$valid && filter()" class="form-horizontal event_form_margin" ng-show="!success" name="form" role="form" novalidate>
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-4 col-sm-12 col-xs-12">Latitude</label>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <input type="text" class="form-control user_lat" name="user_lat" ng-pattern="/^[0-9|\d|.|\-]*$/"
                               ng-model="user_lat" placeholder="Latitude coordinate between -90.0 and 90.0" required>
                    </div>
                    <div ng-show="form.user_lat.$dirty && form.user_lat.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
                    <div ng-show="form.user_lat.$dirty && form.user_lat.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                        <p class="help-block"
                           ng-show="form.user_lat.$error.required">
                            Event Latitude is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.user_lat.$error.pattern">
                            Invalid Latitude.
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-sm-12 col-xs-12">Longitude</label>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <input type="text" class="form-control user_lng" name="user_lng" ng-pattern="/^[0-9|\d|.|\-]*$/"
                               ng-model="user_lng" placeholder="Longitude coordinate between -180.0 and 180.0" required>
                    </div>
                    <div ng-show="form.user_lng.$dirty && form.user_lng.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
                    <div ng-show="form.user_lng.$dirty && form.user_lng.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                        <p class="help-block"
                           ng-show="form.user_lng.$error.required">
                            Event Latitude is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.user_lng.$error.pattern">
                            Invalid Latitude.
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-sm-12 col-xs-12">Distance in km</label>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" name="user_range"
                               ng-model="user_range" ng-minlength=1 ng-maxlength=50
                               ng-pattern="/^[0-9|\d|.]*$/" required>
                    </div>
                    <div ng-show="form.user_range.$dirty && form.user_range.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
                    <div ng-show="form.user_range.$dirty && form.user_range.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                        <p class="help-block"
                           ng-show="form.user_range.$error.required">
                            Distance is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.user_range.$error.pattern">
                            Invalid distance.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-sm-12 col-xs-12"></label>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-primary col-md-12 col-sm-12 col-xs-12"
                                ng-disabled="form.$invalid">Search Events From Location
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>

