/* app css stylesheet */
html, body {
    height: 100%;
    margin: 0;
}

#wrap {
    min-height: -webkit-calc(100% - 40px);     /* Chrome */
    min-height: -moz-calc(100% - 40px);     /* Firefox */
    min-height: calc(100% - 42px);     /* native */
}

.footer {
    position: relative;
    clear:both;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.modal-backdrop.in{
    opacity: 0.6;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: -7px;
    color: #737373;
}
p.help-block,small.ng-scope{
    color: red;
    font-size: 12px;
}
/***********************
  SHARP BUTTONS
************************/
.sharp {
    border-radius:0;
}

/***********************
  CUSTOM BUTTON VALUES
************************/

.btn.sharp {
    border-radius:0;
}
fieldset {
    border: 0px solid #c0c0c0;
}

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
#strengthBar,.pwmatch {
    padding: 0;
    margin: 0;
}
/* end Password strength bar style */
.glyphicon{margin-right: 4px}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.app_titles{
    text-align: center;
    padding: 10px 0 0;
}
.login_content{
    border: 1px solid #ddd;
}
.mo_version{
    font-size: 10px;
}
.content_width{
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    -webkit-box-shadow: 9px 19px 42px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 19px 42px -29px rgba(0,0,0,0.75);
    box-shadow: 9px 19px 42px -29px rgba(0,0,0,0.75);
}
.content_padding{padding:10px 5%}

.preloader {
    padding: 50px;
    background: url('images/preloader.gif') no-repeat 50% 50% transparent;
}

#map-canvas{
    width: 100%;
    height: 30em;
}
.event_form_margin{
    margin-top: 30px;
}
/* This class is used to style the tooltip */
.tooltip{
    border:thin 1px #eee;
    background-color:#FFFBF0;
    padding:5px;
    width:200px;
}