<div class="content_width login_content">
    <div>
        <legend class="app_titles">Login</legend>
        <div class="content_padding">
            <form ng-submit="form.$valid && login()" class="form-horizontal" ng-show="!success" name="form" role="form" novalidate>
                <fieldset>
                    <div class="alert alert-danger" data-ng-show="authenticationError">
                        <strong>Authentication failed!</strong> Please check your credentials and try again.
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-4 col-sm-12 col-xs-12">Email</label>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <input type="email" class="form-control" id="email" name="email" ng-model="user.email" ng-minlength=1 ng-maxlength=50  ng-pattern='/^(("[\w-\s]+")|([\w\-]+(?:\.[\w\-]+)*)|("[\w-\s]+")([\w\-]+(?:\.[\w\-]+)*))(@((?:[\w\-]+\.)*\w[\w\-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i' required>
                        </div>
                        <div ng-show="form.email.$dirty && form.email.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
                        <div ng-show="form.email.$dirty && form.email.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                            <p class="help-block"
                               ng-show="form.email.$error.required">
                                Your email is required
                            </p>
                            <p class="help-block"
                               ng-show="form.email.$error.pattern">
                                Enter a valid email.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-4 col-sm-12 col-xs-12">Password</label>

                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <input type="password" class="form-control" name="password" id="password" ng-model="user.password" required/>
                        </div>
                        <div ng-show="form.password.$dirty && form.password.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
                        <div ng-show="form.password.$dirty && form.password.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                            <p class="help-block"
                               ng-show="form.password.$error.required">
                                Your password is required
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-12 col-xs-12"></label>

                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-primary col-md-12 col-sm-12 col-xs-12"
                                    ng-disabled="form.$invalid">Log Now
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>