<div class="content_width login_content">
    <legend class="app_titles">Create your MeetUp Organizer Account</legend>
    <div class="content_padding">
    <form ng-submit="form.$valid && signup()" class="form-horizontal" ng-show="!success" name="form" role="form" novalidate>
        <div class="form-group row">
            <label class="mss-register-names col-md-4 col-sm-12 col-xs-12">Email</label>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="email" class="form-control" name="email" ng-model="user.email" ng-minlength=1 ng-maxlength=50  ng-pattern='/^(("[\w-\s]+")|([\w\-]+(?:\.[\w\-]+)*)|("[\w-\s]+")([\w\-]+(?:\.[\w\-]+)*))(@((?:[\w\-]+\.)*\w[\w\-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i' required>
            </div>
            <div ng-show="form.email.$dirty && form.email.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.email.$dirty && form.email.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block" ng-show="form.email.$error">Enter a valid email.</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">First Name</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" name="f_name"
                       ng-model="user.first_name" ng-minlength=1 ng-maxlength=50
                       ng-pattern="/^[A-Za-z0-9|\d|@|&|'|\*|\-|'*| *]*$/" required>
            </div>
            <div ng-show="form.f_name.$dirty && form.f_name.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.f_name.$dirty && form.f_name.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block"
                   ng-show="form.f_name.$error.required">
                    Your First Name is required.
                </p>

                <p class="help-block"
                   ng-show="form.f_name.$error.minlength">
                    Your First Name is required to be at least 1 character
                </p>

                <p class="help-block"
                   ng-show="form.f_name.$error.maxlength">
                    Your First Name cannot be longer than 50 characters
                </p>

                <p class="help-block"
                   ng-show="form.f_name.$error.pattern">
                    Your First Name can only contain letters and digits
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Last Name</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" name="last_name"
                       ng-model="user.last_name" ng-minlength=1 ng-maxlength=50
                       ng-pattern="/^[A-Za-z0-9|\d|@|&|'|\*|\-|'*| *]*$/" required>
            </div>
            <div ng-show="form.last_name.$dirty && form.last_name.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.last_name.$dirty && form.last_name.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block"
                   ng-show="form.last_name.$error.required">
                    Your Last Name is required.
                </p>

                <p class="help-block"
                   ng-show="form.last_name.$error.minlength">
                    Your Last Name is required to be at least 1 character
                </p>

                <p class="help-block"
                   ng-show="form.last_name.$error.maxlength">
                    Your Last Name cannot be longer than 50 characters
                </p>

                <p class="help-block"
                   ng-show="form.last_name.$error.pattern">
                    Your Last Name can only contain letters and digits
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Date of Birth</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="text" class="form-control" id="dob" name="dob" ng-model="selectedDate" placeholder="Date of Birth"
                       data-date-format="dd/MM/yyyy" required check-age bs-datepicker>
            </div>

            <div ng-show="form.dob.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.dob.$dirty && form.dob.$error.required" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block">
                    Your Date of birth is required.
                </p>
            </div>
            <div ng-show="!form.dob.$error.required && form.dob.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block">
                    Incorrect Format, should be DD/MM/YYYY.
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12">Country</label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <select name="country" class="form-control" ng-model="selectedCountry" pvp-country-picker required></select>
            </div>
            <div ng-show="form.country.$dirty && form.country.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.country.$dirty && form.country.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block"
                   ng-show="form.country.$error.required">
                    Your Country is required.
                </p>

                <p class="help-block"
                   ng-show="form.country.$error.minlength">
                    Your Country is required to be at least 1 character
                </p>

                <p class="help-block"
                   ng-show="form.country.$error.maxlength">
                    Your Country cannot be longer than 50 characters
                </p>

                <p class="help-block"
                   ng-show="form.country.$error.pattern">
                    Your Country can only contain letters and digits
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="mss-register-names col-md-4 col-sm-12 col-xs-12">Password</label>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="password" class="form-control" name="password"
                       ng-model="user.password" required>
            </div>
            <div ng-show="form.password.$dirty && form.password.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.password.$dirty && form.password.$invalid" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block"
                   ng-show="form.password.$error.required">
                    Your password is required.
                </p>
                <p class="help-block"
                   ng-show="!form.password.$error.required && form.password.$error.noMatch && form.password.$dirty">
                    Confirmation passwords do not match.
                </p>
            </div>
            <div class="mss-register-names col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <password-strength-bar password-to-check="user.password"></password-strength-bar>
            </div>

        </div>
        <div class="form-group row">
            <label class="mss-register-names col-md-4 col-sm-12 col-xs-12">Password confirmation</label>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <input type="password" class="form-control" name="confirmPassword"
                       ng-model="user.confirmPassword" match="user.password" required>
            </div>
            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid" class="col-md-4 col-sm-12 col-xs-12"></div>
            <div ng-show="form.confirmPassword.$dirty" class="col-md-8 col-sm-12 col-xs-12">
                <p class="help-block"
                   ng-show="form.confirmPassword.$error.required">
                    Your password confirmation is required.
                </p>
                <p ng-show="!form.confirmPassword.$error.required" ng-messages="form.confirmPassword.$error" class="pwmatch">
                    <small ng-message="match">Passwords must match!</small>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-sm-12 col-xs-12"></label>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <button class="btn btn-primary col-md-12 col-sm-12 col-xs-12" ng-disabled="form.$invalid">Submit</button>
            </div>
        </div>
    </form>
    </div>
</div>