<div class="content_width login_content">
    <div>
        <legend class="app_titles">Logout</legend>
        <div class="content_padding">
            <form class="form-horizontal" ng-show="!success" name="form" role="form" validate>
                <fieldset>
                    <div class="form-group login_continue">
                        <label class="col-md-4 col-sm-12 col-xs-12"></label>

                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <button class="btn btn-primary col-md-12 col-sm-12 col-xs-12"
                                    ng-click="LogoutCtrl.logout()" ng-disabled="form.$invalid">Log Now
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>